@import url("https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap");

:root {
    --main-font: "Macondo Swash Caps", cursive;
    --purple-color: #8070ac;
    --green-color: #62b49c;
    --red-color: #b96b78;
    --border-color: #5e5e5e;
}

* {
    box-sizing: border-box;
}

body {
    color: #5e5e5e;
    font-family: var(--main-font);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 30px 20px;
    text-align: center;
}

.header__title {
    font-size: 50px;
    font-weight: 900;
}

.header__title span {
    padding-left: 10px;
}

.header__title span:first-child {
    padding-left: 0px;
}

.header__subtitle {
    font-size: 25px;
    margin-top: 40px;
    font-weight: 600;
}

.purple-text {
    color: var(--purple-color);
}

.green-text {
    color: var(--green-color);
}

.red-text {
    color: var(--red-color);
}

.game-interface {
    margin: 0 auto;
    padding: 0px 15px;
    max-width: 800px;
}

.game-interface__title {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.game-interface__user-moves {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border: 3px solid var(--border-color);
    border-radius: 4px;
    padding: 35px 75px;
}

.game-interface__user-move button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: scale 0.3s ease-in-out;
}

.game-interface__user-move button:hover {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    scale: 1.1;
    transition: scale 0.3s ease-in-out;
}

.game-interface__user-move button:last-child {
    margin-right: 0;
}

.game-interface__user-move-img {
    width: 100px;
    height: auto;
}

.footer {
    margin-top: auto;
    text-align: center;
    padding: 20px;
    border-top: 3px solid var(--border-color);
}

@media (max-width: 1024px) {
    .header__title {
        font-size: 45px;
    }

    .header__subtitle {
        font-size: 23px;
        margin-top: 35px;
    }

    .game-interface__title {
        font-size: 20px;
    }

    .game-interface__user-moves {
        padding: 30px 65px;
    }

    .game-interface__user-move-img {
        width: 80px;
        height: auto;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 15px 20px;
        text-align: center;
    }

    .header__title {
        font-size: 40px;
    }

    .header__subtitle {
        font-size: 20px;
        margin-top: 30px;
    }

    .game-interface__title {
        font-size: 18px;
    }

    .game-interface__user-moves {
        padding: 15px 40px;
    }
}

@media (max-width: 500px) {
    .header__title {
        font-size: 35px;
    }

    .header__subtitle {
        font-size: 18px;
        margin-top: 25px;
    }

    .game-interface__title {
        font-size: 15px;
    }

    .game-interface__user-move-img {
        width: 70px;
        height: auto;
    }

    .game-interface__user-moves {
        padding: 15px 20px;
    }
}

@media (max-width: 385px) {
    .header__title {
        font-size: 30px;
    }

    .header__title span {
        padding-left: 5px;
    }

    .header__subtitle {
        font-size: 15px;
    }

    .game-interface__title {
        font-size: 13px;
    }

    .game-interface__user-move-img {
        width: 65px;
        height: auto;
    }
}
