@import url("https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap");

:root {
    --main-font: "Macondo Swash Caps", cursive;
    --purple-color: #8070ac;
    --green-color: #62b49c;
    --red-color: #b96b78;
}

* {
    box-sizing: border-box;
}

body {
    color: #5e5e5e;
    font-family: var(--main-font);
}

.header {
    padding: 30px 20px;
    text-align: center;
}

.header__title {
    font-size: 50px;
    font-weight: 800;
}

.header__title span {
    padding-left: 10px;
}

.header__title span:first-child {
    padding-left: 0px;
}

.purple-text {
    color: var(--purple-color);
}

.green-text {
    color: var(--green-color);
}

.red-text {
    color: var(--red-color);
}

.header__subtitle {
    font-size: 25px;
    margin-top: 40px;
}

@media (max-width: 1024px) {
    .header__title {
        font-size: 45px;
    }

    .header__subtitle {
        font-size: 23px;
        margin-top: 35px;
    }
}

@media (max-width: 768px) {
    .header__title {
        font-size: 40px;
    }

    .header__subtitle {
        font-size: 20px;
        margin-top: 30px;
    }
}

@media (max-width: 500px) {
    .header__title {
        font-size: 35px;
    }

    .header__subtitle {
        font-size: 18px;
        margin-top: 25px;
    }
}

@media (max-width: 385px) {
    .header__title {
        font-size: 30px;
    }

    .header__title span {
        padding-left: 5px;
    }

    .header__subtitle {
        font-size: 15px;
    }
}
